body{
    background-color: #222222;
    color: #fdfdfd
} 

modal label{
    color: #222222;
}

.employeers {
    width: 100%;
}

button.btn-action {
	margin: 10px 25px 25px 0;
	height: 50px;
	width: 55px;
}

button.btn-action:last-child {
	margin-right: 0;
} 

button.btn-action i {
	font-size: 20px
}

form{
	color: #222222;
}
