body{
    background-color: #222222;
    color: #fdfdfd
} 

modal label{
    color: #222222;
}

.employeers {
    width: 100%;
}

button{
    margin: 25px 25px 25px 0;
}

button:last-child{
    margin-right: 0;
} 

form{
	color: #222222;
}
